#!/usr/bin/make -f

CC:=ccache $(CC)
CXX:=ccache $(CXX)

%:
	dh $@ --builddirectory=build

override_dh_auto_configure:
	cp make/variant/linux.defs make/variant/kfreebsd.defs

	./configure --prefix=/usr --build build \
		--gcc=/usr/lib/ccache/gcc \
		CC="$(CC)" CXX="$(CXX)"

override_dh_builddeb:
	dh_builddeb -- -Zbzip2

override_dh_install:
	mv debian/handbrake-gtk debian/tmp
	dh_install

override_dh_clean:
	dh_clean \
		download/*tar* \
		make/variant/kfreebsd.defs
